.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-family: Arial, sans-serif;
}

.home-welcome {
  text-align: center;
  margin-bottom: 28px;
}

.home-welcome h1 {
  font-size: 26px;
  font-weight: bold;
  color: #111;
  margin-bottom: 8px;
}

.home-welcome p {
  font-size: 14px;
  color: #555;
  font-style: italic;
}

/* CARD INTRODUCTORIAS */
.home-layout {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: auto;
  width: 80%;
  box-sizing: border-box;
}

.home-card {
  display: flex;
  flex-direction: column;
  background: #EDEDED;
  border-radius: 15px;
  border: 1px solid #D1D1D1;
  padding: 25px;
  flex: 1;
  transition: transform 0.2s;
}

.home-title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.home-card img {
  width: 55px;
  height: 55px;
  object-fit: contain;
  flex-shrink: 0;
}

.home-card h3 {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  color: #000;
  line-height: 1.1;
}

.home-card p {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
  max-width: 95%;
}

.loading-clases {
  color: #aaa;
  font-size: 14;
  text-align: center;
  width: 100%;
}